/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

/* base styles */
#root {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

container {
  flex: 1;
  padding: 20px;
}

.weatherIcon {
  height: 50px;
  width: 50px;
}

footer {
  text-align: center;
}
footer p {
  padding: 15px;
}